html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

body, a {
    font-family: arial,sans-serif;
}

div.header {
    flex: 0 0 32px;
    -ms-flex: 0 0 32px;
    margin: 10px;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
}

div.account {
    position: relative;
    display: flex;
    flex: 1;
    -ms-flex: 1 1 auto;
    align-content: center;
    justify-content: flex-end;
}

a.accountButton {
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

img.headerImage {
    width: 32px;
    height: 32px;
}

img.accountImage {
    border-radius: 50%;
    background-color: black;
    box-shadow: 1px 1px 5px black;
}

div.panel {
    position: absolute;
    border: 1px solid #cccccc;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #808080;
    right: 0;
    top: 50px;
    display: flex;
    flex: 0;
    -ms-flex: 0 1 auto;
    flex-direction: column;
    -ms-flex-direction: column;
}

div.panelHead {
    flex: 1;
    -ms-flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    margin: 20px;
}

img.panelImage {
    width: 96px;
    height: 96px;
    flex: .1;
    -ms-flex: .1 1 auto;
    background-color: #000000;
    margin-right: 20px;
}

div.accountData {
    flex: 1;
    -ms-flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

div.userName {
    font-size: 13px;
    font-weight: bold;
}

div.userEmail {
    font-size: 12px;
    color: gray;
}

div.panelTail {
    flex: .2;
    -ms-flex: .2 1 auto;
    display: flex;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    background-color: #f5f5f5;
    border-top: 1px solid #cccccc;
    padding: 10px 0 10px 0;
}

a.userAccount {
    margin: 24px 0 0 0;
    width: 128px;
    height: 30px;
    cursor: pointer;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.signout {
    color: #666;
    background-color: #f5f5f5;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000000;
    text-decoration: none;
    margin: 0 20px 0 20px;
    width: 86px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.signout:hover {
    background-color: #fffefe;
}

div.viewport {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100%;
}

div.content {
    flex: 1;
    -ms-flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
    text-align: center;
}

a.bg {
    color: #ffffff;
    background-color: #3781f8;
    border: 1px solid #2f5bb7;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a.signIn {
    width: 76px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
}

a.bg:hover {
    background-color: #2a62bb;
}

div.chattingBox {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    align-self: center;
    width: 800px;
    max-height: 800px;
    margin: 32px;
    border: 1px solid #cccccc;
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

div.chatWrapper {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

div.chatBox {
    display: flex;
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex-direction: column;
    -ms-flex-direction: column;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 32px;
}

form.chatForm {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
}

input.chatMessage { 
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    padding: 10px;
}

button.chatSubmit {
    color: #ffffff;
    background-color: #3781f8;
    border: 1px solid #2f5bb7;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
}

div.userMessage {
    color: #ffffff;
    background-color: #3781f8;
    margin-left: auto;
    overflow-wrap: break-word;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 12px;
    max-width: 40%;
}

div.ibmMessage {
    color: #000000;
    background-color: #c6c6c6;
    margin-right: auto;
    overflow-wrap: break-word;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 12px;
    max-width: 40%;
}

@media only screen and (max-width: 830px) {

    div.chattingBox {
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 0;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        margin: 0;
        padding: 0;
    }

    div.chatBox {
        border: none;
        border-radius: 0;
    }

}